<!-- If the user has no favorite properties saved -->
<% if @properties.length == 0 %>
<div class="container">
    <div class="show-margin">
        <div class="row favorites-div">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>You have not saved any favorites properties.</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="btn btn-primary btn-lg" href="/properties" role="button">Search Properties</a>
                <a class="btn btn-primary btn-lg" href="/user_preferences" role="button">Edit Preferences</a>
            </div>
        </div>
    </div>
</div>
<!-- If user has favorite properties saved -->
<% else %>
<div class="container">
    <div class="row favorites-div">
        <h2>My Favorites</h2>
        <div class="property">
        <% @properties.each do |property| %>
            <div id="prop-block" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="property-image user_fave_div">
                    <%= image_tag(property.picture, class: 'user_fave_img') %>
                </div>
                <div>
                    <p><%= property.address %></p>
                    <p><a class="btn btn-primary" href="/properties/<%=property.z_id%>" role="button">View details &raquo;</a></p>
                </div>
            </div>
         <% end %>
        </div>
    </div>
</div>
<%end%>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Hoadini 2015</p>
        </div>
    </div>
</footer>

</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

